<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form </title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Project-DEVSPACE2021/Registration form.css">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../Project-DEVSPACE2021/img logo/logo2.jpg" alt="LOGO">
        </div>
        <ul>
            <li class="items"><a href="#main-form">Home</a></li>
            <li class="items"><a href="#">Login</a></li>
        </ul>
    </nav>

    <section id="heading">
        <h1>REGISTRATION FORM</h1>
    </section>

    <section id="main-form">
        <div class="container-1">
            <h2 class="primary">GO-Students</h2>
            <form action="#">
                <div class="forms">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" required="required">
                </div>

                <div class="forms">
                    <label for="age">Age: </label>
                    <input type="text" name="age" id="age" required="required">
                </div>

                <div class="forms">
                    <label for="E-mail">E-mail: </label>
                    <input type="email" name="E-mail" id="E-mail" required="required">
                </div>

                <div class="forms">
                    <label for="number">Phone number: </label>
                    <input type="number" name="number" id="number" required="required">
                </div>

                <div class="forms">
                    <label for="msg">Ambition: </label>
                    <textarea name="msg" id="msg" cols="30" rows="5"></textarea>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>
        <div class="container-2">
            <h2 class="primary">GO-Teacher</h2>
            <form action="#">
                <div class="forms">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" required="required">
                </div>

                <div class="forms">
                    <label for="age">Age: </label>
                    <input type="text" name="age" id="age" required="required">
                </div>

                <div class="forms">
                    <label for="E-mail">E-mail: </label>
                    <input type="email" name="E-mail" id="E-mail" required="required">
                </div>

                <div class="forms">
                    <label for="number">Phone number: </label>
                    <input type="number" name="number" id="number" required="required">
                </div>

                <div class="forms">
                    <label for="msg">Skills and Experience: </label>
                    <textarea name="msg" id="msg" cols="30" rows="5"></textarea>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>

    </section>
    <footer>
        Copyright &copy; www.GoLearn.com. All Rights Reserved!
    </footer>

</body>
</html>